/*importaciones*/
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Signika+Negative:wght@300;700&display=swap");
/* configuracion body */

* {
  /* setear los estilos predeterminados */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Share Tech Mono", monospace;
  font-family: "Signika Negative", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
  overflow-y: hidden;
  overflow-x: hidden;
  scrollbar-width: none; /* Firefox */
  -ms-overflow-style: none; /* Internet Explorer y Edge */
}
body::-webkit-scrollbar {
  width: 0;
}

/*HEADER*/
.header {
  width: 100%;
  height: 100px;
  display: flex;
  position: relative;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.header a {
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
  color: #fff;
}
.menu-container {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}
.header-info {
    margin: 0 50px; 
  }



.button-menu {
  margin-left: auto;
}
.main-container {
  width: auto;
  height: auto;
}
/*FIN HEADER*/

.home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 100px 10% 0;
  overflow: hidden;
}

/* zona proyectos*/
.projects-container {
  width: 100vw;
  height: 100vh;
  display: flex;
  gap: 10px;
  flex-direction: row;
  flex-wrap: wrap;
  overflow-y: auto;
  justify-content: space-evenly;
  margin-top: 50px;
  margin-bottom: 80px;
  padding: 10px;
}
.projects-container h1 {
  color: #fff;
}

.projects {
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 100vw;
  height: 100vh;
}

/* projects zone*/

.card {
  position: relative;
  width: 350px;
  min-height: 450px;
  background-color: transparent !important;
  backdrop-filter: blur(10px);
  margin: 10px;
}
.card .face {
  position: absolute;
  width: 100%;
  height: 100%;
  backface-visibility: hidden;
  border-radius: 10px;
  overflow: hidden;
  transition: 0.5s;
  color: #fff;
}

.card .front {
  transform: perspective(600px) rotateY(0deg);
  box-shadow: 0 5px 10px #000;
}

.card .front img {
  position: absolute;
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.card .front h3 {
  position: absolute;
  bottom: 0;
  width: 100%;
  height: 50px;
  margin: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  color: #fff;
  background: #494848;
  text-align: center;
  font-size: 20px;
}

.card .back {
  transform: perspective(600px) rotateY(180deg);
  background: #120f1280;

  color: #c7c7c7;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  box-shadow: 0 5px 30px #535353;
}

.card .back .link {
  border-top: solid 1px #2e1830;
  height: 20px;
  line-height: 20px;
  text-decoration: none;
}

.card .back .link a {
  color: #c7c7c7;
}

.card .back h3 {
  font-size: 30px;
  margin-top: 20px;
  letter-spacing: 2px;
}

.card .back p {
  letter-spacing: 1px;
  font-size: 15px;
}

.card:hover .front {
  transform: perspective(600px) rotateY(180deg);
}

.card:hover .back {
  transform: perspective(600px) rotateY(360deg);
}

.back {
  display: flex;
  padding: 20px;
  text-decoration: none;
  font-weight: 600;
  color: #ffffff;
  font-size: 17px;
}
/* fin zona proyectos */

/* git bttn */

.github-btn {
  border-radius: 50%;
  padding: 5px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  background: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
}

.github-btn:hover {
  transform: scale(1.2);
}

.github-btn i {
  font-size: 50px;
  color: #000000;
}
