.page-content {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  height: 68vh;
  min-height: 325px;
  width: 65vw;
  min-width: 300px;
  gap: 25px;
  padding-top: 30px;
  padding-left: 15px;
  padding-right: 35px;
  padding-bottom: 30px;
  overflow-y: auto;
}

.page-content::-webkit-scrollbar {
  width: 7px;
  border-right: 2px solid var(--blueTransparent);
}

.page-content::-webkit-scrollbar-thumb {
  background: var(--blueScrollBar);
  border-radius: 50px;
}
.page-content::-webkit-scrollbar-thumb:hover {
  background: var(--blue);
}

.card {
  position: relative;
  display: flex;
  overflow: hidden;
  text-align: center;
  height: 350px;
  width: 330px;
  color: var(--whiteFont);
  border-radius: 5px;
  box-shadow: 0 0 18px var(--blue);
  
}

.card:before {
  content: "";
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 110%;
  background-size: cover;
  background-position: 0 0;
  pointer-events: none;
}

.card:after {
  content: "";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 200%;
  pointer-events: none;
  background-image: linear-gradient(
    to bottom,
    rgba(0, 0, 0, 0) 0%,
    rgba(0, 0, 0, 0.009) 11.7%,
    rgba(0, 0, 0, 0.034) 22.1%,
    rgba(0, 0, 0, 0.072) 31.2%,
    rgba(0, 0, 0, 0.123) 39.4%,
    rgba(0, 0, 0, 0.182) 46.6%,
    rgba(0, 0, 0, 0.249) 53.1%,
    rgba(0, 0, 0, 0.32) 58.9%,
    rgba(0, 0, 0, 0.394) 64.3%,
    rgba(0, 0, 0, 0.468) 69.3%,
    rgba(0, 0, 0, 0.54) 74.1%,
    rgba(0, 0, 0, 0.607) 78.8%,
    rgba(0, 0, 0, 0.668) 83.6%,
    rgba(0, 0, 0, 0.721) 88.7%,
    rgba(0, 0, 0, 0.762) 94.1%,
    rgba(0, 0, 0, 0.79) 100%
  );
  transform: translateY(-50%);
}

.content {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100%;
  width: 100%;
  transition: 0.8s;
  z-index: 1;

}

.title,
.copy,
.btn {
  padding-right: 1rem;
  padding-left: 1rem;
}

.title {
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 20px;
  font-weight: bold;
  width: 90%;
  height: 66px;
  backdrop-filter: blur(4px);
  margin: 10px;
}

.copy {
  display: flex;
  align-items: center;
  font-size: 15px;
  width: 100%;
  height: 162px;
}

.btn {
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--whiteFont);
  height: 40px;
  width: 150px;
  margin-top: 16px;
  margin-bottom: 16px;
  border-radius: 5px;
  border: 2px solid var(--blue);
  background: var(--blueTransparent);
}
.btn:hover {
  background: var(--blue);
  box-shadow: 0 0 18px rgba(4, 232, 217, 0.372);
}

/* ANIMATION */
.card:after {
  transform: translateY(0);
}

.content {
  transform: translateY(234px);
}

.content > *:not(.title) {
  opacity: 0;
  transform: translateY(1rem);
  transition: transform 700ms cubic-bezier(0.1, 0.4, 0.7, 1),
    opacity 500ms cubic-bezier(1, 1, 1, 1);
}

.card:hover,
.card:focus-within {
  align-items: center;
}

.card:hover:before,
.card:focus-within:before {
  transform: translateY(-4%);
  backdrop-filter: blur(4px);
}

.card:hover .title,
.card:focus-within .title {
  backdrop-filter: blur(0px);
}

.card:hover:after,
.card:focus-within:after {
  transform: translateY(-50%);
}

.card:hover .content,
.card:focus-within .content {
  transform: translateY(0);
}

.card:hover .content > *:not(.title),
.card:focus-within .content > *:not(.title) {
  opacity: 1;
  transform: translateY(0);
  transition-delay: 0.6s;
}

.card:focus-within:before,
.card:focus-within:after,
.card:focus-within .content,
.card:focus-within .content > *:not(.title) {
  transition-duration: 0s;
}
.logo {
  width: 50px;
  height: 50px;
  margin: 0 5px; 
  filter: drop-shadow(0px 0px 4px #ffffff);
}


/* MOBILE */
@media (max-width: 768px) {
  .page-content {
    height: 47vh;
  }

  .card {
    width: 200px;
    height: 270px;
  }

  .copy {
    font-size: 12px;
    height: 132px;
  }

  .content {
    transform: translateY(204px);
  }
}

@media (max-width: 740px) {
  .card {
    transform: translateX(14px);
  }
}
