
/* FOOTER SECTION */
.footer {
  background-color: #333;
  padding: 30px 0;
  color: #fff;
  text-align: center;
}

.footer-content {
  max-width: 600px;
  margin: 0 auto;
}

.footer-links {
  margin-top: 20px;
}

.footer-links a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 18px;
}

.footer-links a:hover {
  text-decoration: underline;
}

.footer-social-icons {
  margin-top: 20px;
}

.footer-social-icons a {
  color: #fff;
  text-decoration: none;
  margin: 0 10px;
  font-size: 24px;
}

.footer-social-icons a:hover {
  text-decoration: none;
}

.footer-copyright {
  margin-top: 20px;
}
