/* Estilos de la sección principal */
#main {
  color: #fff;
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;
  height: 100vh;
}

.hidden {
  display: none;
}

.home-content {
  text-align: left;
  margin-left: 200px;
  
}
.home-content h3 {
  font-weight: 100;
}

.home-content h1 {
  font-size: 40px;
  margin-bottom: 20px;
}

.home-content h3 {
  font-size: 20px;
}
