/*PROJECT SECTION*/

:root {
  --blue: #c8d2c8d5;
  --blueTransparent: #eff5ef32;
  --blueScrollBar: #e0ebe066;
  --blueVantaj: #bdc3ca;
  --whiteFont: #fff;
}


.projectsBottomContentContainer {
  position: relative;
  top: 80px;
  padding-top: 10vh;
  display: flex;
  height: 100vh;
  width: 100vw;
  padding-left: 3%;
  padding-right: 3%;
  gap: 30px;
}

.projectsLeftContent {
  width: 50vw;
  max-width: 470px;
}

.projectsLeftContent p {
  text-align: justify;
  color: var(--whiteFont);
  font-size: 13px;
}

.textMobileView {
  display: none;
}

.containerLeftContent {
  position: relative;
  top: 66px;
  height: min-content;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 20px;
  padding: 80px;
  
}
.containerLeftContent p {
  font-size: 17px;
  
}

.filterProjectsContainer {
  display: flex;
  justify-self: center;
  justify-content: space-evenly;
  width: max-content;
  max-width: 300px;
  gap: 10px;
}

.btnFrontend,
.btnBackend,
.btnFullStack {
  color: var(--whiteFont);
  height: 30px;
  width: 100px;
  border-radius: 5px;
  border-color:var(--blueTransparent);
  background: var(--blueTransparent);
}

.btnFrontend:hover,
.btnBackend:hover,
.btnFullStack:hover {
  box-shadow: 0 0 20px rgba(255, 255, 255, 0.5);
  background-color: var(--blueScrollBar);
}

.btnOn {
  box-shadow: 0 0 30px rgba(255, 255, 255, 0.5);
  background: var(--blue);
}

.shadow {
  height: 70vh;
  min-height: 325px;
  width: 62vw;
  position: absolute;
  border-radius: 8px;
  box-shadow: inset 0px 20px 30px -3px rgba(81, 80, 80, 0.121),
    inset 0px -20px 30px -3px rgba(186, 179, 179, 0.389);
  z-index: 10;
  pointer-events: none;
  overflow: hidden;
  
}

/* MOBILE */
@media (max-width: 768px) {
  .projectsBottomContentContainer {
    flex-direction: column;
    align-items: center;
    justify-content: start;
    height: 100vh;
  }

  .projectsLeftContent {
    width: 250px;
  }

  .containerLeftContent {
    top: 0;
    gap: 10px;
    padding: 5px;
  }

  .projectsLeftContent P,
  .btnBackend,
  .btnFrontend {
    font-size: 10px;
  }

  .btnBackend,
  .btnFrontend {
    width: 60px;
  }
  .textDesktopView {
    display: none;
  }

  .textMobileView {
    display: block;
  }

  .shadow {
    height: 47vh;
    top: auto;
  }
}

@media (max-width: 740px) {
  .shadow {
    transform: translateX(12px);
  }
}
 

