/*RESPONSIVE */

@media (max-width: 768px) {
  .menu-container {
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;

    z-index: 200;
  }

  .header {
    visibility: hidden;
  }
  /*MAIN SECTION*/
  .pic {
    display: flex;
  }
  .home {
    display: flex;
    flex-direction: column;
    position: relative;
    flex-wrap: wrap;
  }
  .home-content {
    text-align: center;
  }
  .pic img {
    width: 500px;
    height: 500px;
  }

  /*ABOUT ME*/

  .presentation-container {
    display: flex;
    position: relative;
    align-items: center;
    flex-direction: column;
  }
  .personal-presentation {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
  }
 
  .personal-presentation h1 {
    text-align: justify;
  }

  .skills-presentation {
    width: 100%;
    display: flex;
    position: relative;
    flex-direction: column;
    justify-content: center;
  }
  .tech-skills-info {
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    gap: 30px;
    margin-bottom: 20px; /* Ajusta el margen inferior */
  }
  .tech-skills-container h1 {
    font-size: 40px;
  }

  .soft-skills-container {
    display: none;
  }

  .lenguage {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .lenguage img {
    width: 100px;
    height: 100px;
  }

  .buttons-section {
    display: none;
  }

  .projects-container {
    display: flex;
    position: relative;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content: center;
    margin-left: -20px;
    margin-top: 750px;
    align-items: center;
  }
  .card {
    position: relative;
    width: 350px;
    min-height: 300px;
    background-color: transparent !important;
    border: none;
    margin: 20px;
  }

  .card-backend {
    display: flex;
    position: relative;
    width: 350px;
    min-height: 300px;
    margin-left: -100px;
    background-color: transparent !important;
    border: none;
    gap: 5px;
  }

  /*SERVICES*/

  .services {
    display: flex;
    position: relative;
    height: 100vh;
    width: 100%;
    align-items: center;
    margin: 30px;
  }

  .services p {
    font-size: 18px;
    line-height: 1.6;
    color: #ffffff;
    text-align: justify;
  }

  .services__card {
    display: flex;
    position: absolute;
    align-items: center;
    justify-content: center;
    margin-top: 150px;
    flex-wrap: wrap;
    margin-left: -55px;
    gap: 10px;
  }

  .card_services {
    align-items: center;
    width: 450px;
    height: 500px;
    background-color: #3838383a;
    padding: 20px;
    border-radius: 10px;
    backdrop-filter: blur(10px);
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.95);
    transition: all 0.3s ease;
  }

  /*FOOTER*/
  .footer {
    
  }
}
  
