/*RESPONSIVE */

@media (max-width: 768px) {
  .menu-container {
    display: block;
    position: fixed;
    width: 100%;
    bottom: 0;
    left: 0;
    height: 50px;
    display: flex;
    justify-content: center;
    align-items: center;

    z-index: 200;
  }
  
 .header{
  visibility: hidden;
 }
  /*MAIN SECTION*/
  .pic {
    display: flex;
    
  }
.home{
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
}
  .home-content {
    text-align: center;
    
  }
  .pic img {
    width: 500px;
    height: 500px;
    
  }

  /*ABOUT ME*/

  .presentation-container {
    display: flex;

    align-items: center;
    flex-direction: column;
  }
  .personal-presentation {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .personal-presentation h1 {
    text-align: justify;
  }

  .skills-presentation {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
  }
  .tech-skills-info {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 30px;
    margin-bottom: 20px; /* Ajusta el margen inferior */
  }
  .tech-skills-container h1 {
    font-size: 40px;
  }

  .soft-skills-container {
    display: none;
    
  }
  
  .lenguage {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    align-items: center;
  }
  .lenguage img {
    width: 100px;
    height: 100px;
  }

  .buttons-section {
    display: none;
  }

  .projects-container {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    justify-content:center;
    margin: 100px;
    align-items: center;
    

  }
  .card {
    position: relative;
    width: 350px;
    min-height: 300px;
    background-color: transparent !important;
    border: none;
    margin: 20px;
  }

  .card-backend {
    display: flex;
    position: relative;
    width: 350px;
    min-height: 300px;
    background-color: transparent !important;
    border: none;
    margin: 20px;
    gap: 5px;
  }
}
