#serv {
  display: flex;
  width: 100vw;
  height: auto;
  
  flex-direction: column;
  gap: 40px;
  margin-bottom: 50px;
  margin-top: 100px;
}

.services {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
  margin-top: 120px;
  color: #fff;
  
}

.services-container {
  
 
  text-align: center;
  flex-wrap: wrap;
}

.services p {
  font-size: 18px;
  line-height: 1.6;
  color: #ffffff; /* Gris oscuro */
}

.services__card {
  display: flex;
  justify-content: space-evenly;
  align-items: center;

  gap: 10px;
  
}

.card_services {
  margin: 0 10px;
  width: 350px;
  height: 400px;
  background-color: #3838383a;
  padding: 20px;
  border-radius: 10px;
  backdrop-filter: blur(10px);
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.95);
  transition: all 0.3s ease;
}

.card:hover {
  transform: translateY(-5px);
  box-shadow: 6px 6px 6px 6px rgba(169, 169, 169, 0.345);
}

.service__logo {
  font-size: 48px;
  color: #e8e2e2;
}

.service__name {
  margin-top: 20px;
}

.service__name p {
  font-size: 15px;
  color: #fffcfc; /* Blanco */
}
