@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&display=swap");
/* Estilos generales */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background: none;
  font-family: "Share Tech Mono", monospace;
  overflow-x: hidden;
  background-color: #000000;
  opacity: 1;
  background-image: linear-gradient(45deg, #101010 50%, #000000 50%);
  background-size: 5px 5px;
}

/* Estilos del encabezado */
.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  background-color: rgba(0, 0, 0, 0.8);
}

.menu-container {
  display: flex;
  align-items: center;
  position: relative; 
}

.header-info {
  margin: 0 20px;
}

.header a {
  text-decoration: none;
  font-size: 20px;
  color: #fff;
}
.menu-link {
  width: 100px; 
  overflow: hidden; 
}

/* KEYFRAMES */



