/*importaciones*/
@import url("https://fonts.googleapis.com/css2?family=Share+Tech+Mono&family=Signika+Negative:wght@300;700&display=swap");
/* configuracion body */

* {
  /* setear los estilos predeterminados */
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Share Tech Mono", monospace;
  font-family: "Signika Negative", sans-serif;
}

body {
  width: 100%;
  height: 100vh;
}

/*HEADER*/
.header {
  width: 100%;
  height: 100px;
  display: flex;
  justify-content: space-around;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
}
.header a {
  text-decoration: none;
  font-size: 20px;
  cursor: pointer;
}
.menu-container {
  display: flex;
  align-items: center;
}

.header-info {
  margin: 0 50px; 
}

.button-menu {
  margin-left: auto;
}
.main-container {
  width: auto;
  height: auto;
}
/*FIN HEADER*/
.home {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  padding: 100px 10% 0;
  overflow: hidden;
}
/*ZONA IZQUIERDA HOME (NOMBRE)*/
.home-content {
  width: 50vw;
  height: 100vh;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap:10px;
}
/*configuracion nombre*/
.home .home-content h1,
a {
  font-size: 30px;
  color: #fff;
}

.home .home-content h3 {
  font-size: 20px;
  font-weight: 200;
  color: #fff;
}
/*FIN ZONA IZQUIERDA HOME (NOMBRE)*/
/*ZONA DERECHA HOME (PROYECTOS)*/

/* zona proyectos*/

.proyects-container {
  width: 50vw;
  height: 100vh;
  gap: 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  
}
.proyects-container h1 {
  color: #fff;
}
.proyects-container a {
  text-decoration: none;
  cursor: pointer;
}
.slider {
  width: 90%;
  height: 60%;
  background-color: blue;
}
/*FIN ZONA DERECHA HOME (PROYECTOS)*/

/* git bttn */

.github-btn {
  border-radius: 50%;
  padding: 5px;
  position: fixed;
  right: 30px;
  bottom: 30px;
  background: rgb(255, 255, 255);
  cursor: pointer;
  transition: 0.3s;
}

.github-btn:hover {
  transform: scale(1.2);
}

.github-btn i {
  font-size: 50px;
  color: #000000;
}
